In [53]:
# reference : https://wikidocs.net/24603
# data : https://www.kaggle.com/rounakbanik/the-movies-dataset
# movies_metadata.csv

In [54]:
import pandas as pd

In [55]:
data = pd.read_csv("./nlp_data/movies_metadata.csv", low_memory = False)

In [56]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [57]:
data.shape

(45466, 24)

In [58]:
data = data.head(20000)

In [59]:
data['overview'].isnull().sum()

135

In [60]:
data['overview'] = data['overview'].fillna("")

In [61]:
data['overview'].isnull().sum()

0

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [63]:
tfidf = TfidfVectorizer(stop_words = 'english')

In [64]:
tfidf_matrix = tfidf.fit_transform(data['overview'])

In [65]:
print(tfidf_matrix.shape)

(20000, 47487)

In [66]:
from sklearn.metrics.pairwise import linear_kernel

In [67]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [68]:
indices = pd.Series(data.index, index = data['title']).drop_duplicates()

In [69]:
print(indices.head())

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [70]:
idx = indices['Jumanji']

In [71]:
idx

1

In [72]:
def get_recommendations(title, cosine_sim = cosine_sim):
    idx = indices[title]
    
    print(idx)
    
    sim_scores = list(enumerate(cosine_sim[idx]))    
    sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    
    movie_indices = [i[0] for i in sim_scores]
    
    return data['title'].iloc[movie_indices]

In [73]:
get_recommendations('Star Wars')

256

1154      The Empire Strikes Back
1167           Return of the Jedi
1267                 Mad Dog Time
5187          The Triumph of Love
309             The Swan Princess
461          Hot Shots! Part Deux
19400             Deathstalker II
3502                Shanghai Noon
13735    The Flame of New Orleans
1987              Sleeping Beauty
Name: title, dtype: object