In [27]:
import GetOldTweets3 as got
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:
import datetime

In [3]:
days_range = []

start = datetime.datetime.strptime("2019-04-21", "%Y-%m-%d")
end = datetime.datetime.strptime("2019-04-22", "%Y-%m-%d")
date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]

for date in date_generated:
    days_range.append(date.strftime("%Y-%m-%d"))

print("=== 설정된 트윗 수집 기간은 {} 에서 {} 까지 입니다 ===".format(days_range[0], days_range[-1]))
print("=== 총 {}일 간의 데이터 수집 ===".format(len(days_range)))

=== 설정된 트윗 수집 기간은 2019-04-21 에서 2019-04-21 까지 입니다 ===
=== 총 1일 간의 데이터 수집 ===

In [4]:
import time

# 수집 기간 맞추기
start_date = days_range[0]
end_date = (datetime.datetime.strptime(days_range[-1], "%Y-%m-%d") 
            + datetime.timedelta(days=1)).strftime("%Y-%m-%d") # setUntil이 끝을 포함하지 않으므로, day + 1

# 트윗 수집 기준 정의
tweetCriteria = got.manager.TweetCriteria().setQuerySearch('방탄소년단 OR 빅히트')\
                                           .setSince(start_date)\
                                           .setUntil(end_date)\
                                           .setMaxTweets(-1)

In [5]:
print("Collecting data start.. from {} to {}".format(days_range[0], days_range[-1]))
start_time = time.time()

tweet = got.manager.TweetManager.getTweets(tweetCriteria)

print("Collecting data end.. {0:0.2f} Minutes".format((time.time() - start_time)/60))
print("=== Total num of tweets is {} ===".format(len(tweet)))

Collecting data start.. from 2019-04-21 to 2019-04-21
Collecting data end.. 0.87 Minutes
=== Total num of tweets is 607 ===

In [44]:
tweet_data = pd.DataFrame({"username":[],"date_t":[],"text_t":[], "favorites":[], "hashtags":[],"retweets":[],"replies":[], "author_id":[]},
                          columns = ["username","date_t","text_t","favorites","hashtags","retweets","replies", "author_id"])

In [45]:
for i in range(len(tweet)):
    
    username = str(tweet[i].username)
    date_t = str(tweet[i].date)
    text_t = str(tweet[i].text)
    favorites = str(tweet[i].favorites)
    hashtags = str(tweet[i].hashtags)
    retweets = str(tweet[i].retweets)
    replies = str(tweet[i].replies)
    author_id = str(tweet[i].author_id)
        
    tweet_data.loc[i] = [username, date_t, text_t, favorites, hashtags, retweets, replies, author_id]

In [47]:
tweet_data.head()

,username,date_t,text_t,favorites,hashtags,retweets,replies,author_id
0,bts_uttarakhand,2019-04-21 23:59:55+00:00,#PersonaBillboardNo1 Congratulations @BTS_twt ...,1,#PersonaBillboardNo1 #BTS #BTS,0,0,1067821869066158081
1,uuukorea4,2020-08-04 08:22:54+00:00,요즘 살 빼려고 식단 관리 중인데 이 단백질쉐이크 진짜 좋아요. 맛이 질리지 않고 ...,3521,,1358,60,1267644552535367680
2,hona_0731,2019-04-21 23:59:48+00:00,・ CHIMMYとも撮れた( ¨̮ )♡ ・ #방탄소년단 #지민 #19951013 #b...,0,#bt21 #chimmy #95z,0,0,3271884776
3,AmberBTS001,2019-04-21 23:59:44+00:00,"#방탄소년단, '빌보드 200' 1위..""11개월 만에 3연속 정상"" | 다음연예 ...",0,#BTS #BTS,0,0,921133392380481536
4,hokaphoka,2019-04-21 23:59:37+00:00,ㅋㅋㅋ 내 바이오에도 써놨듯이 여긴 #지민악개 박제하는 계정인데? ㅋ 다른멤버 악개...,1,,0,0,998423048448495616

In [52]:
tweet_data.to_csv("tweet_cr_example.csv", encoding="UTF-8")